* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  overflow: hidden;
}



body {
  direction: ltr;
  font-family: 'medMsi' !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

}


/* square */

.square {
  display: flex;

  justify-content: center;
  flex-direction: column;

  height: 300px;
  width: 300px;
  border: 1px solid #333;
  align-items: center;
  font-size: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 1px gray;
}





/* Input */


.input-color label {
  left: -999999px;
  position: absolute;
}


.input-color input[type="text"] {
  padding: 10px;
  margin-top: 10px;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 1px gray;
}

/* Toggle-Color */

.input-color .toggle-color {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 1px gray;
}